@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.margin__wrap {
    background-color: #F4F4F6;
    padding: 30px;  
}

#main__img {
    border: none;
    border-radius: 15px;
    display: block;
    width: 50%;
    margin: auto;
}
