@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.margin__wrap {
    background-color: #F4F4F6;
    padding: 30px;  
}

#main__img {
    border: none;
    border-radius: 15px;
    display: block;
    width: 65%;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#p-margin {
    margin-top: 10px;
    text-align: center;
}

.list-style li{
    list-style: none;
    display: inline-flex;
}

.wrapper-card {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-img {
    height: 400px;
    width: 280px;
    margin: auto 20px;
    border-radius: 5px;
}

.li-line {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.a-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1b263b;
    text-decoration: none;
    padding-top: 20px;
    transition: all 0.3s ease 0s;
}

.a-title:hover {
    color: #6c757d;
}

.footer {
    display: block;
    background-color: #f5f3f4;
    height: 200px;
    width: auto;
    margin-top: 100px
}

.list-style-footer {
    display: flex;
    font-weight: 500;
    justify-content: center;
    padding-top: 100px;
}

.li-list-footer {
    list-style: none;
    padding: 20px;
}

